<div id="about">
<h5>this color is called 'coquelicot' and it's my favorite</h5>
</div>
<div>
<div id="rest_of_page">
<h3>about me:</h3>
<p>i learned russian on a dare once</p>
<p>and that's the kind of person i am, so that's all you need to know</p>
<h4>click <a href="/portfolio"> here</a> to go to my portfolio</h4>
</div>