<div>
<h1>what's up, it's me, Tim Kepple&copy;</h1>
<h2>real adult and rails web developer</h2>
<h5>this color is called 'coquelicot' and it's my favorite</h5>
</div>
<img src="https://i.kym-cdn.com/entries/icons/original/000/003/629/1282839532626.jpg" alt="hey">

<h3>about me:</h3>
<p>i learned russian on a dare once</p>
<p>and that's the kind of person i am, so that's all you need to know</p>

<h4>click <a href="/portfolio"> here</a> to go to my portfolio</h4>
<ul>
  <li>click <a href="/portfolio">here</a> for portfolio</li>
  <li>click <a href="/contact">cornholio</a> for cornholio</li>
  <li><a href="/sup">this</a>is a secret</li>
</ul>