<h1><marquee scrollamount="20" direction="right" behavior="alternate">portfolio? bud, you're lookin' at it</marquee></h1>

<h3>click <a href="/contact"> here</a> for my <s>contact information</s></h3>