<h2><marquee scrollamount="30">hey, what's up</marquee></h2>
<h5><marquee scrollamount="160" direction="right" behavior="slide">i think you're really cool</marquee></h5>
<h6><marquee scrollamount="80" direction="right" behavior="slide">i like you a lot</marquee></h6>
<h6><marquee scrollamount="50" direction="right" behavior="slide">maybe we should <br>hang out<br>or something</marquee></h6>