#header {
  color: #FF3800;
  background-color: white;
  /*all sides*/
  margin: 5px;
  /*2 = top/bottom*/
  /*clockwise from top*/
  padding: 10px 20px 10px 20px;
  text-align: center;
}

#rest_of_page {
  color: white
}
body {
  background-image: url("https://i.kym-cdn.com/photos/images/original/000/258/486/834.jpg")
}